.product{
    &-info{
        button{
            border: 2px solid black;
            border-radius: 30px;
            padding: 13px 0;
            font-size: 20px;
        }
    }
}

.sold-out{
    position: relative;
    background: no-repeat center url(../img/appleC.png);
    background-size: cover;
    p{
        position: absolute;
        top: 50%;
        left: 35%;
    }
    img{
        opacity: 0.5;
    } 
}