.login{
    img{
        margin-top: 40px;
        margin-bottom: 28px;
    }
    margin-bottom: 82px;
    @include media-breakpoint-down(lg){
        margin-bottom: 106px;
    }
    
    .btn{
        margin-top: 36px;
        button{
            border-radius: 4px;
            border: 1px solid $primary;
            padding: 8px 16px;
        }
        &-sign{
            background-color: white;
            color: $primary;
            &:hover{
                background-color: $primary;
                color: white;
            }
        }
    }
}