
.product-detail{
    img{
        margin-bottom: 30px;
        @include media-breakpoint-down(lg){
            margin-bottom: 16px;
            width: 100%;
        }
    }
    p{
        margin-bottom: 12px;
    }
    .annoce{
        p{
            font-size: 1rem;
        }
    }
}